.ck/
*.pyc
*.jsonl
.venv
core/.venv

data/*
!data/fs/
data/fs/*
!data/fs/.env.example
!data/fs/start.example.sh


!data/fs/.kapybara/
data/fs/.kapybara/*
!data/fs/.kapybara/.bashrc
!data/fs/.kapybara/config.example.toml
!data/fs/.kapybara/preferences/
data/fs/.kapybara/preferences/*
!data/fs/.kapybara/preferences/PREFERENCES.default.md
!data/fs/.kapybara/skills/
data/fs/.kapybara/skills/*
!data/fs/.kapybara/skills/core/
!data/fs/.kapybara/skills/meta/
!data/fs/.kapybara/skills/context/
!data/fs/.kapybara/skills/messager/
!data/fs/.kapybara/skills/maintain/
